html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 100%;
}

section {
    padding: 100px 0;
    background: #122e44;
}

.section_title {
    margin-bottom: 30px;
}

.section_title h2 {
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 30px;
    transition: all .5s ease-in-out;
}

.section_title h2:hover {
    background-color: #24CAAC;
}

header {
    background: #201e1e;
    border-bottom: 1px solid rgb(238, 238, 238);
    position: fixed;
    width: 100%;
    z-index: 5;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    padding: 10px 0;
}

.nav_links {
    display: flex;
}

.nav_links li a {
    margin-left: 15px;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.nav_links li a:hover {
    background: #24CAAC;
}

.logo h2 a {
    color: #fff;
    text-transform: uppercase;
}

.inner_anasayfa {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    color: #fff;
    flex-wrap: wrap;
    text-align: center;
}

.child_anasayfa {
    flex-basis: 45%;
    margin-bottom: 20px;
    text-align: center;
}

.child_anasayfa img {
    border-radius: 80px;
    width: 400px;
    height: 400px;
}

.child_anasayfa h1 {
    font-size: 50px;
    color: #24CAAC;
}

.span_child {
    color: #e1cf0b;
}

.child_anasayfa p {
    font-size: 25px;
    margin-bottom: 12px;
}

.btn {
    background: #24CAAC;
    padding: 12px 28px;
    border-radius: 20px;
    color: #fff;
    border: 1px solid #24CAAC;
    font-weight: 700;
    cursor: pointer;
    transition: all .3s ease;
}

.btn:hover {
    background: transparent;
}

.innersoftware {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    color: #fff;
    flex-wrap: wrap;
}

.innersoftware_child {
    flex-basis: calc(33.33% - 20px);
    color: #fff;
    padding: 25px 20px;
    background: rgba(55, 66, 80, 0.281);
    border-radius: 5px;
    border: 1px solid transparent;
    transition: all .3s ease-in-out;
    margin: 10px;
}

.innersoftware_child:hover {
    border: 1px solid #24CAAC;
}

.innersoftware_child h3 {
    font-size: 20px;
    margin: 5px 0;
}

.innersoftware_child a {
    color: #00ff08;
}

.proje-aciklama a {
    color: #00ff08;
}

.inner_courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    gap: 20px;
}

.child_courses {
    flex-basis: calc(16.666% - 20px);
    max-width: calc(16.666% - 20px);
    background-color: #2C3E50;
    color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    transition: 0.3s;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.child_courses:hover {
    border: 1px solid #24CAAC;
    background-color: #34495E;
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.child_courses .course_image img {
    max-width: 100px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.child_courses .detail {
    margin-top: 10px;
}

.child_courses .detail h3 {
    font-size: 1em;
    margin: 0;
    color: #24CAAC;
    text-transform: uppercase;
}

.proje-aciklama {
    text-align: center;
    color: #fff;
}

.proje-aciklama img {
    width: 100%;
    max-width: 900px;
}

@media screen and (max-width: 1200px) {
    .inner_anasayfa, .innersoftware {
        width: 95%;
    }
    .child_courses {
        flex-basis: calc(33.33% - 20px);
        max-width: calc(33.33% - 20px);
    }
}

@media screen and (max-width: 992px) {
    .inner_anasayfa, .innersoftware {
        width: 95%;
    }
    .child_courses {
        flex-basis: calc(33.33% - 20px);
        max-width: calc(33.33% - 20px);
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        display: none;
    }
    header {
        position: relative;
        height: auto;
    }
    .inner_anasayfa, .innersoftware {
        width: 95%;
    }
    .child_courses {
        flex-basis: calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
    .innersoftware_child {
        flex-basis: calc(50% - 20px);
        margin: 10px 0;
    }
    .btn {
        padding: 8px 16px;
    }
    .proje-aciklama {
        padding: 0 15px;
    }
    .proje-aciklama img {
        margin: 0 auto;
    }
}

@media screen and (max-width: 576px) {
    .navbar {
        display: none;
    }
    header {
        position: relative;
        height: auto;
    }
    .inner_anasayfa, .innersoftware {
        width: 100%;
    }
    .child_courses {
        flex-basis: calc(100% - 20px);
        max-width: calc(100% - 20px);
    }
    .innersoftware_child {
        flex-basis: calc(100% - 20px);
        margin: 10px 0;
    }
    .btn {
        padding: 6px 12px;
    }
    .child_anasayfa h1 {
        font-size: 30px;
    }
    .child_anasayfa p {
        font-size: 18px;
    }
    .child_anasayfa img {
        max-width: 300px;
    }
    .proje-aciklama {
        padding: 0 20px;
    }
    .proje-aciklama img {
        margin: 0 auto;
    }
}

@media screen and (max-width: 320px) {
    .navbar {
        display: none;
    }
    header {
        position: relative;
        height: auto;
    }
    .inner_anasayfa, .innersoftware {
        width: 100%;
    }
    .child_courses {
        flex-basis: calc(100% - 20px);
        max-width: calc(100% - 20px);
    }
    .innersoftware_child {
        flex-basis: calc(100% - 20px);
        margin: 10px 0;
    }
    .btn {
        padding: 6px 12px;
    }
    .child_anasayfa h1 {
        font-size: 30px;
    }
    .child_anasayfa p {
        font-size: 18px;
    }
    .child_anasayfa img {
        max-width: 150px;
    }
    .proje-aciklama {
        padding: 0 10px;
    }
    .proje-aciklama img {
        margin: 0 auto;
    }
}
